<footer class="site-footer mt-6 py-3 text-muted bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="contact-list mb-0 list-group">
          <li class="list-group-item">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li class="list-group-item"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="col">
        <ul class="social-media-list mb-0 list-group">
          {% if site.github_username %}
          <li class="list-group-item">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="list-group-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col">
        <p class="mb-0">{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
