<header class="site-header navbar navbar-expand-lg navbar-light bg-light sticky-top mb-3" role="banner">
  <nav class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      {% if page_paths %}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <li class="nav-item {% if page.url == my_page.url %} active{% endif %}">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</span></a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      <form class="form-inline my-2 my-lg-0 float-right">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
