a.card-link {
	color:inherit;
	transition: all .3s ease-out;
	box-shadow:0 0 10px rgba(255,255,255,0.25);
	
	&:hover {
		transform:translate(0,-10px);
		box-shadow:0 10px 20px rgba(0,0,0,.25);
	}
	&:active {
		transform:translate(0,-5px);
		box-shadow:0 0 20px  rgba(255,255,255,1);
	}
}

.fade-up {
  opacity: 0;
  transform: translateY(100px);
  will-change: transform, opacity;
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-delay:0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  &.animate {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stars {
  0% { background-position: 0 -400px; }
  100% { background-position: 0 0; }
}


@keyframes fade-up {
  	0% {
		position:relative;
		top:100px;
		opacity:0;
	}
  	100% { 
		top:0;
		opacity:1;
  	}
}



/* vars */
$main: #e0c764;
$secondary: darken($main, 20);
$r: 15;
$d: $r * 2;
$t: 2000;

.preloader {
	min-width:0 !important;
	min-height:0 !important;
	margin:auto;
	width:50px;
	height:50px;
	border: 8px solid #000;
	border-right-color:transparent;
	border-radius:50%;
	animation:spin 3s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}