a.card-link {
	color:inherit;
	transition: all .3s ease-out;
	box-shadow:0 0 10px rgba(255,255,255,0.25);
	
	&:hover {
		transform:translate(0,-10px);
		box-shadow:0 10px 20px rgba(0,0,0,.25);
	}
	&:active {
		transform:translate(0,-5px);
		box-shadow:0 0 20px  rgba(255,255,255,1);
	}
}

.fade-up {
  opacity: 0;
  transform: translateY(100px);
  will-change: transform, opacity;
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  &.animate {
	transform: translateY(0);
	opacity: 1;
  }
}

@keyframes stars {
	0% { background-position: 0 -400px; }
	100% { background-position: 0 0; }
}


@keyframes fade-up {
	0% {
		position:relative;
		top:100px;
		opacity:0;
	}
	100% { 
		top:0;
		opacity:1;
	}
}



/* vars */
$main: #e0c764;
$secondary: darken($main, 20);
$r: 15;
$d: $r * 2;
$t: 2000;

.preloader {
	min-width:0 !important;
	min-height:0 !important;
	margin:auto;
	width:50px;
	height:50px;
	border: 8px solid #000;
	border-right-color:transparent;
	border-radius:50%;
	animation:spin 3s infinite linear;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}


#fullscreenArea {
	height:0;
	visibility:hidden;
	background:rgba(0,0,0,0);
	will-change: background;
	transition-property: background;
	transition-duration: 1.5s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	.fullscreen-image { 
		will-change: transform;
		transition-property: transform;
		transition-duration: 2s;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform:translateY(-80vh);
	}
	.fullscreen-description {
		will-change: transform;
		transition-property: transform;
		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform:translateY(20vh);
	}

}



#fullscreenArea.animate-in {
	height:100vh;
	visibility:visible;
	background:rgba(0,0,0,0.8);
	display:block;
	opacity:1;
	.fullscreen-image {
		transition-delay: 0;
		transform: translateY(0vh);
	}
	.fullscreen-description {
		transform:translateY(0vh);
	}
}


svg.maze {
	width:512px;
}
.maze g path, .maze g line {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	stroke-width:1px;
	stroke:#7c3980;
}
.maze g.concentric-lines path:last-child {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
}

.maze.animate g path:nth-child(even), .maze.animate g line:nth-child(even) {
	animation-delay: 6s;
}

.maze.animate g path:nth-child(4n+0) {
	animation-delay: 8s;
}

.maze.animate g path, .maze.animate g line {
	animation: dash 40s forwards;
	animation-delay:4s;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.maze.animate .maze-solution {
	stroke-width:2px;
	stroke: #8e92ff;
	stroke-dasharray: 2150;
	stroke-dashoffset: 2150;
	animation: dash 4s forwards;
	animation-delay: 2s;
	animation-timing-function: cubic-bezier(0.195, 0.010, 0.940, 1.030);

}

@keyframes dash {
  to {
	stroke-dashoffset: 0;
  }
}

.slide-in {
position:relative;
overflow:hidden;
display:inline-block;
	span {
		display:block;
		transition-property:all;
		transition-duration:2s;
		transition-timing-function: ease-in-out;
		transform:translateX(-100%);
	}
	&:after {
		content:'';
		position:absolute;
		top:0;
		left:100%;
		right:0;
		bottom:0;
		overflow:hidden;
		background-color:currentColor;
	}
}


.slide-in.animate {
	span {
		transform: translateX(0);
		}
	&:after {
		animation: barslide 2s forwards;
		animation-timing-function: cubic-bezier(.17,0,.21,1);

	}
}

@keyframes barslide {
	0% {
		left:100%;
		right:0;
	}
	15% {
		left:0;
		right:0;
	}
	50% {
		left:0;
		right:0;
	}
	100% {
		right:100%;
		left:0;
	}
}