.sp-sidebar {
	position:fixed;
	z-index:1000;

}

.sp-content {
	background:$gray-900;
	aside {
		color:$gray-300;
	}
}

.masthead {
	padding:2rem;
	h1.masthead-title {
		font-size:3rem;
		letter-spacing:-3px;
	}
	@include media-breakpoint-up(sm) {
		padding:4rem;
		h1.masthead-title {
			font-size:4rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(md) {
		padding:6rem;
		h1.masthead-title {
			font-size:6rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding:9rem;
		h1.masthead-title {
			font-size:9rem;
			letter-spacing:-7px;
		}
	}

	background-color: #342875;
  	background-image:
		linear-gradient(
			to bottom, 
			#15102e 0%, 
			#0b0817 100%
		);
	color:#fff;
	&-title {
		background-image: url("https://www.dropbox.com/s/ac9efh6oqu3docb/stars.png?raw=1");
	    background-repeat: repeat;
	    background-size: 400px auto;
	    -webkit-text-fill-color: transparent;
	    text-fill-color: transparent;
	    -webkit-background-clip: text;
	    background-clip: text;
	    -webkit-animation: stars 3s infinite linear;
	    animation: stars 3s infinite linear;
	}
	.dud {
		font-weight:300;
	}
}