#load_overlay {
	position: fixed;
    z-index: 200;
    transition: all .4s cubic-bezier(0.63,1, 0.3, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color:$gray-900;
	color:$gray-700;
	text-transform:uppercase;
	letter-spacing:3px;
	z-index:9999;
	.centered-inside {
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		width:100%;
		height:1em;
		text-align:center;
		margin:auto;
	}
}

.sp-sidebar {
	position:fixed;
	z-index:1000;

}

.sp-content {
	background:$gray-900;
	aside {
		color:$gray-300;
	}
}

.masthead {
	padding:2rem;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: #342875;
  	background-image:
		linear-gradient(
			to bottom, 
			#15102e 0%, 
			#0b0817 100%
		);

    transition: background-image .4s cubic-bezier(0.63,1, 0.3, 1);
	h1.masthead-title {
		font-size:3rem;
		letter-spacing:-3px;
	}
	@include media-breakpoint-up(sm) {
		padding:4rem;
		h1.masthead-title {
			font-size:4rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(md) {
		padding:6rem;
		h1.masthead-title {
			font-size:6rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding:7rem;
		h1.masthead-title {
			font-size:9rem;
			letter-spacing:-7px;
		}
	}

	color:#fff;
	&-title {
		background-image: url("https://www.dropbox.com/s/ac9efh6oqu3docb/stars.png?raw=1");
	    background-repeat: repeat;
	    background-size: 400px auto;
	    -webkit-text-fill-color: transparent;
	    text-fill-color: transparent;
	    -webkit-background-clip: text;
	    background-clip: text;
	    -webkit-animation: stars 3s infinite linear;
	    animation: stars 3s infinite linear;
	    transition: background-image .4s cubic-bezier(0.63,1,0.3,1);
	}
	.dud {
		font-weight:300;
	}
}

article, .full-height {
	min-height:100vh;
}