#load_overlay {
	position: fixed;
    z-index: 200;
    transition: all .4s cubic-bezier(0.63,1, 0.3, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color:$gray-900;
	color:$gray-700;
	text-transform:uppercase;
	letter-spacing:3px;
	z-index:9999;
	.centered-inside {
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		width:100%;
		height:1em;
		text-align:center;
		margin:auto;
	}
}

.sp-sidebar {
	position:fixed;
	z-index:1000;

}

.sp-content {
	background:$gray-900;
	aside {
		color:$gray-300;
	}
}

.masthead {
	padding:2rem;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: #342875;
	background-image: linear-gradient(to top, rgb(2, 6, 23), rgb(32, 3, 56));

    transition: background-image .4s cubic-bezier(0.63,1, 0.3, 1);
	h1.masthead-title {
		font-size:3rem;
		letter-spacing:-3px;
	}
	@include media-breakpoint-up(sm) {
		padding:4rem;
		h1.masthead-title {
			font-size:4rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(md) {
		padding:6rem;
		h1.masthead-title {
			font-size:6rem;
			letter-spacing:-7px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding:7rem;
		h1.masthead-title {
			font-size:9rem;
			letter-spacing:-7px;
		}
	}

	color:#fff;
	&-title {
		background-image: url('/assets/stars.png');
	    background-repeat: repeat;
	    background-size: 400px auto;
	    -webkit-text-fill-color: transparent;
	    text-fill-color: transparent;
	    -webkit-background-clip: text;
	    background-clip: text;
	    -webkit-animation: stars 5s infinite linear;
	    animation: stars 5s infinite linear;
	    transition: background-image .4s cubic-bezier(0.63,1,0.3,1);
	}
	.dud {
		font-weight:300;
	}
}

article, .full-height {
	min-height:100vh;
}

.thumbnail-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

.portfolio-thumbnail {
	display:flex;
	overflow:hidden;
	cursor:zoom-in;
	transition:all 1.3s cubic-bezier(0.63,1,0.3,1);
	&:hover {
		.portfolio-item img {
			transform:scale(1.05);
			filter:brightness(115%);
		}
	}
	.portfolio-item {
		display:flex;
		object-fit:cover;
		img {
			object-fit:cover;
			min-width:100%;
			min-height:100%;
			transition:all 1.3s cubic-bezier(0.63,1,0.3,1);
		}
	}
	
	width:100vw;
	height:67vw;
	@include media-breakpoint-up(sm) {
		width:50%;
		height:32vw;

	}
	@include media-breakpoint-up(md) {
		width:33.33%;
		height:21vw;
	}

}


#fullscreenArea {
	position:fixed;
	z-index:300;
	top:0;
	left:0;
	cursor:zoom-out;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.7);	
	.fullscreen-image {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:80vh;
		object-fit:contain;
		display:flex;
		align-items:center;
		padding:1rem;
		text-align:center;
		img {
			max-height:100%;
		}
	}
	.fullscreen-description {
		position:fixed;
		top:80vh;
		left:0;
		width:100vw;
		height:20vh;
		padding:1rem;
		background-color:#fff;
	}
	#closeButton {
		font-size:30px;
		position:fixed;
		top:0;
		right:0;
		z-index:401;
		color:#fff;
		text-shadow:0 0 10px #000;
		cursor:pointer;
		padding:1rem;
	}
}

