.masthead {
	h1.masthead-title {
		font-weight:800;
		font-family:$font-family-base;
		text-transform:uppercase;
		line-height:0.75;
		word-spacing:100vw;
		word-break:keep-all;
	}
}

.display-1 {
	font-family:$font-family-base;
	text-transform:uppercase;
	letter-spacing:4px;
}