---
layout: default
---

<div class="home container">
  
  {{ content }}

    <div class="card-deck">
    {% for post in site.posts %}

      {% if post.layout == "post" %}
        <a class="post-link card-link card post-card layout-{{ post.layout }}" href="{{ post.url | relative_url }}">
            <div class="card-body">
              <h2 class="card-title post-title">{{ post.title | escape }}</h2>
              <p>{{ post.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}</p>
            </div>
            <div class="card-footer">
              <small><span class="date">{{ post.date | date: date_format }}</span></small>
            </div>
        </a>

      {% elsif post.layout == "quote" %}
        <a class="post-link card-link card post-card layout-{{ post.layout }}" href="{{ post.url | relative_url }}">
            <div class="card-body lead">
              {{post.content}}
            </div>
            <div class="card-footer">
              <small><span class="date">{{ post.date | date: date_format }}</span></small>
            </div>
        </a>

      {% elsif post.layout == "image" %}
        <a class="post-link card-link card post-card layout-{{ post.layout }}" href="{{ post.url | relative_url }}">
            <div class="card-header">
              {{ post.title | escape }}
            </div>
            <img class="img-fluid" src="{{post.thumbnail}}">
            <div class="card-footer">
              <small><span class="date">{{ post.date | date: date_format }}</span></small>
            </div>
        </a>

      {% endif %}
    {% endfor %}
    </div>
  <p class="rss-subscribe mt-5">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
