---
layout: default
---

<header id="masthead" class="masthead">
  <h1 class="masthead-title scramble-in display-1">David Sprankle</h1>
  <h3 class="scramble-in subtitle">designer, developer, logician</h3>
</header>
<div class="container-fluid">
  <div class="row  justify-content-evenly align-items-center sp-content py-2 py-md-3 py-xl-4 bg-gradient-pink">
    <div class="col-9 col-md-5 col-lg-4 mb-md-0 mb-2 text-center">    
      {% include maze.html %}
    </div>
    <div class="col-12 col-md-5 col-lg-4 col-xl-3 ">
      <h6 class="display-1 tagline slide-in mb-1">Design is proactive problem solving</h6>
      <hr>
      <p class="fade-up mb-0 mt-1">With a decade of experience in both agency and in-house environments, and with a long-standing foundation in technical support, I've built a passion for functional art, beautiful code, and plain ol' common sense. Let me show you below. </p>
    </div>
  </div>
  <div class="row flex-xl-nowrap bg-gradient-blue py-2 py-md-3 py-xl-4">
    <div class="col-12 col-md-12 col-xl-12 sp-content">

      {% for item in site.posts %}
        <article class="row align-items-center justify-content-evenly">
          <aside class="col-12 mb-1 col-md-6 col-lg-5 col-xl-4 align-self-center item-description fade-up mb-0">
            <h6 class="display-1 tagline slide-in mb-1">{{item.title}}</h6>
            <hr>
            <p class="mt-1 mb-0">{{item.content}}</p>
          </aside>
          <div class="col-12 col-md-5 item-content fade-up mb-0">
            <img class="img-fluid lazyload-image preloader"  alt="{{item.title}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{item.thumbnail }}">
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
<div class="sp-content bg-gradient-dark" >
  <aside class="py-2 py-md-3 py-xl-4 px-1 text-center">
    <h2 class="display-1 slide-in mb-1">Design Gallery</h2>
    <hr>
    <p class="mb-0 mt-1">We can talk about case studies and skills all day (I'd love to, actually&mdash;drop me a line below), but I'd imagine you want to see some design work, too.</p>
  </aside>
  <div class="thumbnail-container">
    {% for item in site.items %}
    <div class="portfolio-thumbnail thumbnail-link expand-link fade-up">
      <div class="portfolio-item">
        <img class="portfolio-image lazyload-image preloader" alt="{{item.title}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{item.thumbnail}}">
        
        {% comment %}
        This is for optionally using different images than the thumbnail.
        {% endcomment %}
        {% for picture in item.fullimages %}
          <img class="portfolio-image-fullonly lazyload-image preloader" alt="{{item.title}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{picture}}">
        {% endfor %}

        <div class="portfolio-description">
          <h3 class="mb-0">{{item.title}}</h3>
          {{item.content}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container-fluid">
  <div class="row flex-xl-nowrap justify-content-evenly py-2 py-md-3 py-xl-4 bg-gradient-green">
    <div class="col-12 col-md-5 fade-up mb-1 mb-md-0">
      <h2 class="display-1 slide-in mb-1">Skills, Experience &amp; Approach</h2>
      <hr>
      <p class="mt-1">My dedication to being concise applies to both written communications and web development. As you might see in the <a href="https://github.com/dsaos/portfolio-v3" target="_blank">source code for this portfolio</a>, I believe in an accessible, simple approach that complies with all contemporary standards. At the same time, I love learning new things, and strive to use a new concept or technology in every project, provided it has wide support.</p>
  </div>
  <div class="col-12 col-md-4">
    <ul class="skills-grid">
      <li class="fade-up">HTML</li>
      <li class="fade-up">CSS</li>
      <li class="fade-up">Javascript</li>
      <li class="fade-up">PHP</li>
      <li class="fade-up">C#</li>
      <li class="fade-up">Markdown</li>
      <li class="fade-up">Unix</li>
      <li class="fade-up">.NET</li>
      <li class="fade-up">WordPress</li>
      <li class="fade-up">Drupal</li>
      <li class="fade-up">Joomla</li>
      <li class="fade-up">SharePoint</li>
      <li class="fade-up">Jekyll</li>
      <li class="fade-up">Bootstrap</li>
      <li class="fade-up">jQuery</li>
      <li class="fade-up">Sass</li>
      <li class="fade-up">Less</li>
      <li class="fade-up">node.js</li>
      <li class="fade-up">React.js</li>
      <li class="fade-up">Ruby</li>
      <li class="fade-up">Git</li>
      <li class="fade-up">Google Analytics</li>
      <li class="fade-up">Chartbeat</li>
      <li class="fade-up">Quantcast</li>
      <li class="fade-up">Facebook</li>
      <li class="fade-up">Slack</li>
      <li class="fade-up">Microsoft Office</li>
      <li class="fade-up">Google Suite</li>
      <li class="fade-up">Photoshop</li>
      <li class="fade-up">Lightroom</li>
      <li class="fade-up">Illustrator</li>
      <li class="fade-up">InDesign</li>
      <li class="fade-up">Acrobat</li>
      <li class="fade-up">Premiere</li>
      <li class="fade-up">AfterEffects</li>
      <li class="fade-up">Audition</li>
      <li class="fade-up">Final Cut Pro</li>
      <li class="fade-up">Logic Pro</li>
      <li class="fade-up">Aperture</li>
      <li class="fade-up">Mainstage</li>
      <li class="fade-up">Sublime Text</li>
      <li class="fade-up">Unity</li>
      <li class="fade-up">Unreal Engine</li>
      <li class="fade-up">Blender</li>
    </ul>
  </div>
</div>



<div class="work-fullscreen" id="fullscreenArea">
  <div id="fullscreenImage" class="fullscreen-image"></div>
  <aside id="fullscreenDescription" class="fullscreen-description"></aside>
</div>
